/* @import 'cssImport/wrapperLoader.css'; */

@import 'cssImport/nav.css';
@import 'cssImport/btn.css';
@import 'cssImport/form.css';
@import 'cssImport/errorSuccess.css';
@import 'cssImport/footer.css';


#register{
    width:80px;
    font-size:18px;
    margin-top:10px;
}




